<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>

<div class="d-flex justify-content-center my-4">
  <a class="btn btn-dark text-uppercase p-3" href="<%= @users %>"id="sign-up-btn">Edit the user</a> |
  <a class="btn btn-dark text-uppercase p-3" href="<%= users_path %>"id="sign-up-btn">return to users</a>
</div>

