<div class="container px-5 ">
    <div class="masthead">
        <img src="https://cdn-food.tribune.com.pk/gallery/ZMt4WPmYn0FlQEIIjRsBi51ZQbtnq5aa7bS7mXO4.jpeg" class="d-block w-100" alt="...">
    </div>
</div>