<div id="<%= dom_id order %>">
  <p>
    <strong>Payment type:</strong>
    <%= order.payment_type %>
  </p>

  <p>
    <strong>Delivery type:</strong>
    <%= order.delivery_type %>
  </p>

  <p>
    <strong>Delivery date:</strong>
    <%= order.delivery_date %>
  </p>

</div>
